<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vae Victis</title>
        <link href="assets/style/style.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/style/foxholder-styles.css" />
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="assets/script/foxholder.js"></script>
        <script src="assets/script/register.js"></script>
        <script src="assets/script/login.js"></script>
        <meta name="viewport" content="width=device-width, user-scalable=no">
    <!--    <script src="assets/script/home.js"></script>-->
    </head>
    <body>
        {% if error is defined and error is not empty %}
        <p class="error">Error : {{ error }}</p>
        {% endif %}

        {% block content %}{% endblock %}
        
        <footer>Even more awesome footer</footer>
    </body>
</html>
