{% extends 'layout.html.twig' %}

{% block content %}

<ul class="topnav">
    <li id="active"><a href="#">Login</a><div class="down arrow"></div><div class="up none arrow"></div></li>
    <li class="none"><a href="?action=home">Home</a></li>
    <li class="none"><a href="?action=register">Register</a></li>
</ul>

    <div class="form-container" id="example-2">
        <form action="?action=login" method="POST" id="loginForm">
            <div class="formbg">
                <span id="errorUsername" class="errorBlock"></span>
                <input placeholder="username" type="text" name="username" id="username"><br>
                <span id="errorPassword" class="errorBlock"></span>
                <input placeholder="password" type="password" name="password" id="password"><br>
            </div>
            <button id="button" class="custom-btn">Login</button>
        </form>
    </div>
{% endblock %}
