{% extends 'layout.html.twig' %}

{% block content %}

<ul class="topnav">
    <li id="active"><a href="#">Login</a><div class="down arrow"></div><div class="up none arrow"></div></li>
    <li class="none"><a href="?action=home">Home</a></li>
    <li class="none"><a href="?action=register">Register</a></li>
</ul>

    <div class="form-container" id="example-2">
        <form action="?action=login" method="POST" id="loginForm">
            <div class="formbg">
                <span id="errorUsername" class="errorBlock"></span>
                <input placeholder="username" type="text" name="username" id="username"><br>
                <span id="errorPassword" class="errorBlock"></span>
                <input placeholder="password" type="password" name="password" id="password"><br>
            </div>
            <button id="button" class="custom-btn">Login</button>
        </form>
    </div>

<aside class="aside_bar">
    <img class="logo" alt="logo_honor" src="https://asset.msi.com/event/mb/2016/for_honor/images/logo.png"/>
    <iframe src="https://www.youtube.com/embed/hduexi1GD5c" allowfullscreen></iframe>
    <img class="static_footer" alt="side_bar_img" src="https://s-media-cache-ak0.pinimg.com/originals/39/b3/ab/39b3abe89624767f861602cbf9fb5517.png"/>
</aside>

{% endblock %}
