{% extends 'layout.html.twig' %}

{% block content %}








    <ul class="topnav">
        <li id="active"><a href="#">Register</a><div class="down arrow"></div><div class="up none arrow"></div></li>
        <li class="none"><a href="#">Home</a></li>
        <li class="none"><a href="#">Login</a></li>
    </ul>

    <div class="form-container-2 form-container" id="example-2">
        <form action="?action=register" method="POST" id="registerForm">
            <span id="errorUsername" class="errorBlock"></span>
            <input placeholder="username" type="text" name="username" id="username"><br>
            <span id="errorEmail" class="errorBlock"></span>
            <input placeholder="email" type="text" name="email" id="email"><br>
            <span id="errorPassword" class="errorBlock"></span>
            <input placeholder="password" type="password" name="password" id="password"><br>
            <span id="errorConfirm" class="errorBlock"></span>
            <input placeholder="confirm_password" type="password" name="confirm_password" id="confirm_password"><br>
            <span id="errorFaction" class="errorBlock"></span>
        </div>
            <div id="faction">


                <div class="div_faction"><label class="label_faction"  for="vikings"><img  id="img_viking" class="img_faction" src="assets/images/faction_vikings.png"></label>
                    <input placeholder="" class="input_faction" type="radio" name="faction" value="vikings" checked id="vikings">
                    <p id="viking_check"></p>
                </div>
                <div class="div_faction"><label class="label_faction"  for="samurai"><img  id="img_samurai" class="img_faction" src="assets/images/faction_samurai.png"></label>
                    <input placeholder=""  class="input_faction" type="radio" name="faction" value="samurai" id="samurai">
                    <p id="samurai_check"></p></div>
                <div class="div_faction"><label  class="label_faction"  for="knight"><img id="img_knight" class="img_faction" src="assets/images/faction_knight.png"></label>
                    <input placeholder=""  class="input_faction" type="radio" name="faction" value="knight" id="knight">
                    <p id="knight_check"></p></div>
                <div class="div_faction"><label class="label_faction"  for="neutral"><img id="img_neutral" class="img_faction" src="assets/images/faction_neutral.webp"></label>
                    <input placeholder=""  class="input_faction" type="radio" name="faction" value="neutral" id="neutral"><br><br>
                    <p id="neutral_check"></p></div>


            <button id="button">Valider</button>
        </form>
        <a href="?action=login">Login</a>
        <div id="result">

        </div>
        <button class='none' id="yes">Yes</button>
        <button class='none' id="no">No</button>
    </div>

{% endblock %}
