.form-item-block {
  position: relative;
  margin-bottom: 25px;
}

.form-container form input {
  outline: none !important;
  box-shadow: none !important;
  padding: 20px;
  border: 1px solid #222;
  background-color: transparent;
  font-size: 17px;
  color: #222222;
  font-family: inherit;
  transition: all 0.2s linear 0s;
}

.form-container form .placeholder {
  position: absolute;
  top: 1px;
  left: 1px;
  margin-bottom: 0px;
  background: transparent;
}

.form-container form .placeholder:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.form-container form .placeholder span {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 20px;
}

.form-container form input + .placeholder {
  height: calc(100% - 2px);
}

.form-container form button {
  color: #222;
  border: 1px solid #222;
  background: transparent;
  border-radius: 4px;
  outline: none;
  padding: 10px 20px;
}

#example-2.form-container .placeholder {
  opacity: 1;
  -moz-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

#example-2.form-container input:focus,
#example-2.form-container input.active{
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
}

#example-2.form-container input:focus + .placeholder,
#example-2.form-container input.active + .placeholder{
  font-size: 80%;
  font-style: italic;
  left: -6px;
  opacity: 0.6;
}