@media screen {
  @font-face {
    src: url("../fonts/Norse.otf");
    font-family: 'nordic';
  }
  @font-face {
    src: url("../fonts/Kelson Sans Light.otf");
    font-family: 'article';
  }
  html {
    height: 100vh;
  }

  p {
    margin: 0;
  }

  body {
    background: url("../images/bg.jpg") no-repeat center top;
    background-size: cover;
    margin: 0px;
    background-attachment: fixed;
    padding-top: 80px;
  }
}
@media screen and (min-width: 1025px) {
  body {
    padding: 0% 18%;
    padding-top: 25px;
  }
}

@media screen {
  main {
    min-height: 80vh;
  }

  .img_params {
    width: 20px;
  }

  a {
    text-decoration: none;
  }

  .none {
    display: none;
  }

  li {
    list-style-type: none;
  }

  .boder {
    border: 1px solid black;
  }

  .topnav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }
}
@media screen and (min-width: 641px) {
  .topnav {
    flex-direction: row;
  }
}
@media screen and (min-width: 1025px) {
  .topnav {
    flex-direction: column;
    width: 18%;
    height: 100%;
    left: 0;
  }
}
@media screen {
  .topnav li {
    padding: 20px;
    border-bottom: #4CAF50 solid 1px;
  }
  .topnav li a {
    color: white;
    font-size: 20px;
    font-family: "nordic";
  }
  .topnav li:not(#active) {
    display: none;
  }
}
@media screen and (min-width: 641px) {
  .topnav li:not(#active) {
    display: block;
  }
}
@media screen {
  .topnav #active {
    background-color: #4CAF50;
  }
  .topnav #active .arrow {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 0;
    height: 0;
    border-style: solid;
  }
}
@media screen and (min-width: 641px) {
  .topnav #active .arrow {
    display: none;
  }
}
@media screen {
  .topnav #active .down {
    border-width: 21.7px 12.5px 0 12.5px;
    border-color: #0f1b29 transparent transparent transparent;
  }
  .topnav #active .up {
    border-width: 0 12.5px 21.7px 12.5px;
    border-color: transparent transparent #0f1b29 transparent;
  }

  .aside_bar {
    display: none;
    width: 18%;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 1025px) {
  .aside_bar {
    display: flex;
  }
}

@media screen {
  .form-container {
    background-color: black;
    opacity: 0.7;
    margin: 10% 10% 0% 10%;
    padding: 10% 0%;
    text-align: center;
  }
}
@media screen and (min-width: 1025px) {
  .form-container {
    margin: 5% 10% 0% 10%;
  }
}
@media screen {
  .form-container .formbg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .form-container .form-item-block input {
    color: white;
  }
  .form-container .form-item-block .placeholder {
    color: white;
  }
  .form-container .errorBlock {
    text-align: center;
    color: white;
  }
  .form-container #faction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .form-container #faction img {
    width: 50px;
  }

  .border {
    border: 1px solid white;
    border-radius: 5px;
  }

  footer {
    margin-top: 30px;
    width: 100%;
    height: 100px;
    background-color: #333;
    font-size: 20px;
    font-family: "nordic";
    font-size: 18px;
    color: white;
  }
}
@media screen and (min-width: 1025px) {
  footer {
    position: absolute;
    left: 0;
    z-index: 2;
    padding: 0% 18%;
    width: 64%;
  }
}

@media screen {
  #commentary {
    background-color: #264647;
    margin: 0px 20px;
  }
  #commentary .commentary {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-bottom: solid 1px white;
    padding: 20px 10px 10px 10px;
  }
}
@media screen and (min-width: 641px) {
  #commentary .commentary {
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media screen {
  #commentary .commentary .commentary_user_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 641px) {
  #commentary .commentary .commentary_user_info {
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media screen {
  #commentary .commentary .commentary_user_info a {
    color: orange;
  }
  #commentary .commentary .commentary_content {
    padding-left: 25px;
    font-family: 'Slabo 27px';
  }
}
@media screen and (min-width: 641px) {
  #commentary .commentary .commentary_content {
    width: 60%;
  }
}

@media screen {
  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }
  .modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
  }
  .modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .modal .close:hover,
  .modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .not_useful {
    display: none;
  }
}
@media screen and (min-width: 641px) {
  .not_useful {
    display: block;
  }
}

@media screen {
  .solo_view {
    background-color: #264647;
    margin: 0px 20px;
    color: white;
    padding: 20px 10px 10px 10px;
  }
  .solo_view header {
    text-align: center;
    font-size: 20px;
    font-family: "article";
    font-weight: bold;
  }
  .solo_view .article_user_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 641px) {
  .solo_view .article_user_info {
    flex-direction: column;
  }
}

@media screen {
  .box {
    margin: 0px 20px;
  }
  .box ul {
    padding: 0px;
    display: flex;
    margin: 0px;
  }
}
@media screen and (min-width: 641px) {
  .box ul {
    margin: 0% 20%;
  }
}
@media screen and (min-width: 1025px) {
  .box ul {
    display: none;
  }
}
@media screen {
  .box ul li {
    padding: 10px;
    background-color: #264647;
  }
  .box ul li .img_tab {
    width: 30px;
  }
  .box ul .active {
    border-top-left-radius: 10px;
  }
  .box .allContent {
    background-color: #264647;
    padding: 20px;
  }
}
@media screen and (min-width: 641px) {
  .box .allContent {
    margin: 0% 20%;
  }
}
@media screen and (min-width: 1025px) {
  .box .allContent {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen {
  .box .allContent #user_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .box .allContent #user_info .recapInfo {
    color: white;
  }
  .box .allContent #user_info #button_editing {
    text-align: center;
    width: 160px;
  }
}
@media screen and (min-width: 641px) {
  .box .allContent #user_info {
    margin: auto;
  }
}
@media screen and (min-width: 1025px) {
  .box .allContent #user_info {
    align-items: initial;
    margin: 0px;
  }
}
@media screen {
  .box .allContent #new_article {
    display: none;
    color: white;
  }
}
@media screen and (min-width: 1025px) {
  .box .allContent #new_article {
    display: block;
  }
}
@media screen {
  .box .allContent #new_article p {
    font-size: 20px;
    font-family: "article";
  }
  .box .allContent #user_article {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .box .allContent #user_article {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .box .allContent #user_article {
    margin-top: 50px;
    padding-top: 50px;
    border-top: white solid 1px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen {
  .custom-btn {
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    outline: none;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 2px solid white;
    z-index: 1;
    color: white;
    font-size: 20px;
    font-family: "nordic";
  }
  .custom-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: white;
    transition: all 0.3s ease;
  }
  .custom-btn:hover {
    color: black;
  }
  .custom-btn:hover:after {
    top: 0;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
